@{
    ViewBag.Title = "About";
}
<h2>About us</h2>
<hr style="border-color:rgb(255,135,35);border-width:0.5px;border-style:solid;border-right:none;border-left:none;" />

<div id="about-jumbo" class="jumbotron" style="border-top:none;border-bottom-width:2px;border-right-width:1px;border-left:none;background-color:rgb(100,100,100);margin-left:30px;margin-right:30px;">	
	<p id="index-text">
		We are <i>'Megiddo Lions'</i> (5038), FRC team from Megiddo regional council, Northern District Israel.
		<br />
		Our goal is to spread the FIRST INSPIRES science education spirit and values,
		by making technology <br />
		more accessable to teenagers and young adults.<br />
		'Megiddo Lions' and it's students have managed to win three competitions to this day,and participate in:
		<ul id="list-ul">
			<li id="list-item-li">4 Israeli Falalel competitions and also 4 district events.</li>
			<li id="list-item-li">3 Israeli Regional FRC competitions</li>
			<li id="list-item-li">2 israeli district championship and 2 off-season competitions.</li>
			<li id="list-item-li">1 israeli spin-off event</li>
		</ul>
	</p>
</div>
