@{
	ViewBag.Title = "Home Page";
}
<h1 style="color:rgb(255,135,35);font-size:45px;">Index</h1>
<hr style="border-color:rgb(255,135,35);border-width:0.5px;border-style:solid;border-right:none;border-left:none;" />
<div class="slideshow-container" style="max-width:100%;position:relative;margin-right:15px;margin-left:15px;margin-top:30px;margin-bottom:50px;padding:0px;float:none;border-radius:40px;">

	<!-- Full-width images with number and caption text -->
	<div class="mySlides fade">
		<div class="numbertext">1 / 8</div>
		<img src="~/Images/MemberImages/havingFun.jpeg" style="width:100%;border-radius:20px;">
		<div class="text">2018 PowerUp Fun!</div>
	</div>
	<div class="mySlides fade">
		<div class="numbertext">2 / 8</div>
		<img src="~/Images/MemberImages/yamYuvalAndSteuer.jpeg" style="width:100%;border-radius:20px;">
		<div class="text">PREPERATION FOR 2019 SEASON!!</div>
	</div>

	<div class="mySlides fade">
		<div class="numbertext">3 / 8</div>
		<img src="~/Images/MemberImages/robot.jpeg" style="width:100%;border-radius:20px;">
		<div class="text">2018 PowerUp Robot</div>
	</div>

	<div class="mySlides fade">
		<div class="numbertext">4 / 8</div>
		<img src="~/Images/MemberImages/tallRobot.jpeg" style="width:100%;border-radius:20px;">
		<div class="text">DAMN TALL!</div>
	</div>
	<div class="mySlides fade">
		<div class="numbertext">5 / 8</div>
		<img src="~/Images/MemberImages/perry.jpeg" style="width:100%;border-radius:20px;">
		<div class="text">SEEMS HAPPY DOESN'T HE?</div>
	</div>
	<div class="mySlides fade">
		<div class="numbertext">6 / 8</div>
		<img src="~/Images/MemberImages/yogerAndRon.jpeg" style="width:100%;border-radius:20px;">
		<div class="text">Build Up!</div>
	</div>

	<div class="mySlides fade">
		<div class="numbertext">7 / 8</div>
		<img src="~/Images/MemberImages/arenaView.jpeg" style="width:100%;border-radius:20px;">
		<div class="text">Arena view of 2017!</div>
	</div>
	<div class="mySlides fade">
		<div class="numbertext">8 / 8</div>
		<img src="~/Images/MemberImages/competitionPit.jpeg" style="width:100%;border-radius:20px;">
		<div class="text">2018 Pit seems safe.</div>
	</div>


	<!-- Next and previous buttons -->
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<div id="index-jumbo" class="jumbotron" style="border-top:none;border-bottom-width:2px;border-right-width:1px;border-left:none;background-color:rgb(100,100,100);margin-left:15px;margin-right:15px;">
	<p id="index-text" class="lead" style="">
		@*ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.*@
		We are <i>'Megiddo Lions'</i>(5038)<br /> FRC team from Megiddo regional council, Northern District Israel.
		<br />
		Our team was established in 2013...

	</p>
	<p><a href="/Home/About" id="learnmore-btn" class="btn btn-primary btn-xs" style="background-color:rgb(25,25,25); color:rgb(245,115,40);border-color:rgb(255,130,40);border-left-width:0px;border-right-width:0px;font-size:15px;margin-bottom:0px;">Learn more &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-3" style="margin-left:10px;height:100%;">
		<h2 style="color: rgb(255,135,35);"><a id="button-link" href="/Home/Mentors">Mentors &raquo;</a></h2>
		<p>
			Information about all the people who put time and dedication into this amazing project and guided/mentored us through crucial moments.
		</p>
	</div>
	<div class="col-md-4" style="margin-left:10px; padding-right:0px;height:100%;">
		<h2 style="color: rgb(255,135,35);"><a id="button-link" href="/Home/Sponsers">Sponsers &raquo;</a></h2>
		<p>
			Companies and individuals that make it possible for us to compete, and keep us going.
		</p>
	</div>
	<div class="col-md-4" style="margin-left:10px; height:100%;">
		<h2 style="color: rgb(255,135,35);"><a id="button-link" href="https://github.com/MegiddoLions5038">GitHub &raquo;</a></h2>
		<p>We use Github to publish our team code online, handle version control and backup robot code.</p>
	</div>
</div>
<script>
	setInterval(plusSlides, 5500,1);
	var slideIndex = 1;
	showSlides(slideIndex);

	// Next/previous controls
	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	// Thumbnail image controls
	function currentSlide(n) {
		showSlides(slideIndex = n);
	}

	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("dot");
		if (n > slides.length) { slideIndex = 1 }
		if (n < 1) { slideIndex = slides.length }
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		slides[slideIndex - 1].style.display = "block";
		dots[slideIndex - 1].className += " active";
	}
</script>