@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
	{
		@Html.AntiForgeryToken()
		<li><a href="/Manage" title="Manage" id="manage-link">Manage Account</a></li>
		<li><a href="javascript:document.getElementById('logoutForm').submit()" id="logout-link">Log off</a></li>
	}
}
else
{

	<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "register-link" })</li>
	<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "login-link" })</li>

}
